.small-box {
border-radius: 2px;
position: relative;
display: block;
margin-bottom: 20px;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

.padding-left-right{
    margin-left:10px;
    margin-right:10px;
}

.viscomponent{
    height:300px;
}

.small-box{
    border:1px solid black;
}

.fullscreen {
    position: absolute;
    top: 65px;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid black;
}
.makewhite {
    color: black;
}

.floatingdiv {
    position: absolute;
    bottom: 140px;
    height: 30px;
    width: 30px;
    z-index: 99;
    right: 15px;
    opacity: 1
}
.small-box > .inner {
padding: 10px
}

.bold {
    font-weight: bold
}

.nav-item-newsize {
    font-size: 16px
}

.small-box > .small-box-footer {
position: relative;
text-align: center;
padding: 3px 0;
color: #fff;
color: rgba(255, 255, 255, 0.8);
display: block;
z-index: 10;
background: rgba(0, 0, 0, 0.1);
text-decoration: none
}

.small-box > .small-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15)
}

.small-box h3 {
font-size: 38px;
font-weight: bold;
margin: 0 0 10px 0;
white-space: nowrap;
padding: 0
}

    .small-box h6 {
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 0px 0;
        padding: 10px 0px 0px 10px;
        /*white-space: nowrap;*/
        text-transform: none !important;
    }

.small-box p {
font-size: 15px
}

.small-box p > small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px
}

.small-box h3,
.small-box p {
z-index: 5
}

.small-box .icon {
-webkit-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear;
position: absolute;
top: 25px;
right: 10px;
z-index: 0;
font-size: 90px;
color: rgba(0, 0, 0, 0.15)
}

    .small-box:hover {
        text-decoration: none;
        color: #000000
    }

.small-box:hover .icon {
    font-size: 95px
}

@media (max-width: 767px) {
    .small-box {
        text-align: center
    }

        .small-box .icon {
            display: none
        }

        .small-box p {
            font-size: 12px
        }


    .removecaps {
        text-transform: none !important
    }
   