@{
    ViewBag.Title = "Choropleth";
}

<div id="map" class="fullscreen"></div>
<div class="floatingdiv">
    <button id="searchButton"><span class="glyphicon glyphicon-search"></span></button>
</div>

<div id="testmodal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="">
                <div>
                    <span class="progress-badge bold makewhite">Infection/Bacteria:</span>
                    <input type="text" class="form-control bold makewhite" value="Amoxilin">
                </div>
                <div>
                    <span class="progress-badge bold makewhite">Region:</span>
                    <input type="text" class="form-control bold makewhite" value="Islamabad">
                </div>
                <div>
                    <span class="progress-badge bold makewhite">From:</span>
                    <input type="text" class="form-control date-picker bold makewhite" value="01/01/2018" data-datepicker-color="primary">
                </div>
                <div>
                    <span class="progress-badge bold makewhite">To:</span>
                    <input type="text" class="form-control date-picker bold makewhite" value="01/01/2018" data-datepicker-color="primary">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .makewhite {
        color: black;
    }

    .floatingdiv {
        position: absolute;
        bottom: 128px;
        height: 30px;
        width: 30px;
        z-index: 99;
        right: 10px;
        background-color: white;
        opacity: 1
    }
</style>

<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(30.3, 69.3),
            zoom: 5.5,
            styles: [
                {
                    "featureType": "administrative",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                }
            ]
        };
        var map = new google.maps.Map(document.getElementById("map"), mapProp);
        var infowindow = new google.maps.InfoWindow();
        map.data.addListener('mouseover', function (event) {
            infowindow.setContent("<div style='width:150px; text-align: center;'>" + "Test" + "</div>");
            infowindow.setPosition(event.feature.getGeometry().getAt(1).get(0).getAt(0).getAt(0));
            infowindow.setOptions({ pixelOffset: new google.maps.Size(0, -30) });
            infowindow.open(map);
        }); 
        map.data.loadGeoJson('@Url.Content("~/Assets/map/pakistan.json")');

        $("#searchButton").click( function () {
            $('#testmodal').modal({
                show: true
            });
        });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb6BqMVbPU5a6zxYg88S7AQcfoPbkhEaU&callback=myMap"></script>