@{
    ViewBag.Title = "Dashboard";
}
<div class="row alert alert-danger">
    <div class="col-md-12 bold">
        Placeholder for alerts
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-4">
        <div class="small-box bg-light">
            <h6>Infections In Your Area</h6>
            <hr/>
            <div class="inner">
              <h3>150</h3>
            </div>
            <div class="icon">
              <i class="fa fa-question"></i>
                
            </div>
            <a href="#" class="small-box-footer bg-dark">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="small-box bg-light">
            <h6>Highest Prevalence Recorded</h6>
            <hr/>
            <div class="inner">
              <h3>150</h3>
            </div>
            <div class="icon">
              <i class="fa fa-arrow-circle-o-up"></i>
            </div>
            <a href="#" class="small-box-footer bg-dark">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="small-box bg-light">
            <h6>Another Stats</h6>
            <hr/>
            <div class="inner">
              <h3>150</h3>
            </div>
            <div class="icon">
              <i class="fa fa-bar-chart"></i>
            </div>
            <a href="#" class="small-box-footer bg-dark">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>