@{
    ViewBag.Title = "Visualising";
}

<div class="row alert alert-info" style="margin-top:65px;">
    <div class="col-md-11 bold">
        <div id="infections_div" style="float:left">
            <span class="badge badge-danger selectedInfection">Infection 1</span>
            <span class="badge badge-danger selectedInfection">Infection 2</span>
            <span class="badge badge-neutral selectedInfection">Infection 3</span>
            <span class="badge badge-danger selectedInfection">Infection 4</span>
            <span class="badge badge-danger selectedInfection">Infection 5</span>
        </div>
        <div style="float:left"><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
        <div id="regions_div" style="float:left">
            <span class="badge badge-neutral selectedRegion">Region 1</span>
            <span class="badge badge-neutral selectedRegion">Region 2</span>
            <span class="badge badge-neutral selectedRegion">Region 3</span>
            <span class="badge badge-neutral selectedRegion">Region 4</span>
            <span class="badge badge-neutral selectedRegion">Region 5</span>
        </div>
    </div>
    <div class="col-md-1" style="height:20px">
        <ul class="nav nav-pills nav-pills-primary nav-pills-just-icons" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link" role="tablist">
                    <i class="fa fa-refresh"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="test-border sidenav">
    <p>Filters</p>
    <select class="form-control" id="chartSelection">
        <option>Select a Visualisation</option>
        <option>Bar Chart</option>
        <option>Choropleth Map</option>
        <option>Geographic Map</option>
        <option>Line Graph</option>
        <option>Pie Chart</option>
        <option>Scatter Plot</option>
    </select>
    <div class="">
        <span class="progress-badge">Infection:</span>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Infection">
            <span class="input-group-btn">
                <button class="btn btn-primary btn-icon " type="button"><i class="fa fa-search"></i></button>
            </span>
        </div><!-- /input-group -->
        <span class="progress-badge">Result:</span>
        <div class="test-border" style="overflow-y: auto; overflow-x:none;height: 100px; width: 300px; background:grey">
            <table>
                <tbody>
                    <tr><td class="infection_result_row" data-name="Infection 1">Infection 1</td></tr>
                    <tr><td class="infection_result_row" data-name="Infection 2">Infection 2</td></tr>
                    <tr><td class="infection_result_row" data-name="Infection 4">Infection 4</td></tr>
                    <tr><td class="infection_result_row" data-name="Infection 5">Infection 5</td></tr>
                    <tr><td class="infection_result_row" data-name="Infection 7">Infection 7</td></tr>
                </tbody>
            </table>
        </div>
        <span class="progress-badge">Country:</span>
        <select class="form-control">
            <option>Pakistan</option>
        </select>

        <span class="progress-badge">Regions:</span>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Infection">
            <span class="input-group-btn">
                <button class="btn btn-primary btn-icon " type="button"><i class="fa fa-search"></i></button>
            </span>
        </div><!-- /input-group -->
        <span class="progress-badge">Result:</span>
        <div style="overflow: scroll; height: 100px; width: 300px">
            <table>
                <thead>
                    <tr>
                        <th><div label="Column 1"></div></th>
                        <th><div label="Column 1"></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td><input type="checkbox"></input></td><td class="region_result_row">Region 1</td></tr>
                    <tr><td><input type="checkbox"></input></td><td class="region_result_row">Region 2</td></tr>
                    <tr><td><input type="checkbox"></input></td><td class="region_result_row">Region 3</td></tr>
                    <tr><td><input type="checkbox"></input></td><td class="region_result_row">Region 4</td></tr>
                    <tr><td><input type="checkbox"></input></td><td class="region_result_row">Region 5</td></tr>
                </tbody>
            </table>
        </div>

        <span class="progress-badge">From:</span>
        <input type="text" class="form-control date-picker" value="01/01/@DateTime.Now.Year" data-datepicker-color="primary">

        <span class="progress-badge">To:</span>
        <input type="text" class="form-control date-picker" value="@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year" data-datepicker-color="primary">

    </div>
</div>

<div class="row remainingheight">
    <div class="col-md-12" id="visualisation">
    </div>
</div>


<style>
    .wrapper {
        margin-left: 170px;
        overflow-x: hidden;
    }
</style>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="~/Scripts/script/morris.min.js"></script>
<script src="~/Scripts/script/raphael.min.js"></script>

<script>

    $(document).ready(function() {
        var selectedItem = '@ViewBag.Id';
        switch (selectedItem) {
        case "piechart":
            selectedItem = "Pie Chart";
            donut();
            break;
        case "barchart":
            selectedItem = "Bar Chart";
            barchart();
            break;
        case "scatter":
            selectedItem = "Scatter Plot";
            scatter();
            break;
        case "linegraph":
            selectedItem = "Line Graph";
            lineGraph();
            break;
        case "choroplethmap":
            selectedItem = "Choropleth Map";
            choropleth();
        case "geographicmap":
            selectedItem = "Geographic Map";
            geographicmap();
        default:
        }

        var select = document.getElementById('chartSelection');

        for (var i = 0; i < select.options.length; ++i) {
            if (select.options[i].text === selectedItem)
                select.options[i].selected = true;
        }

        toggleInfectionsAndRegions("selectedRegion");
        toggleInfectionsAndRegions("selectedInfection");

        addListenerToResults();

    });

    function addListenerToResults() {
        var infectionResults = document.getElementsByClassName('infection_result_row');
        for (var i = 0; i < infectionResults.length; i++) {
            var item = infectionResults[i];
            item.addEventListener('click', function () {
                document.getElementById('infections_div').innerHTML += " <span class='badge badge-danger selectedInfection'>" + $(this).attr('data-name') + "</span> ";
                toggleInfectionsAndRegions("selectedInfection");
            });
        }

        var regionResults = document.getElementsByClassName('region_result_row');
        for (var i = 0; i < regionResults.length; i++) {
            var item = regionResults[i];
            item.addEventListener('click', function () {
                document.getElementById('regions_div').innerHTML += " <span class='badge badge-danger selectedRegion'>" + $(this).attr('data-name') + "</span> ";
                toggleInfectionsAndRegions("selectedRegion");
            });
        }

    }

    function toggleInfectionsAndRegions(className) {
        var items = document.getElementsByClassName(className);

        if (items === null) {
            items = $('.' + className);
        }
        for (var i = 0; i < items.length; i++) {
            items[i].addEventListener('click', function(event) {
                $(this).toggleClass("badge-danger");
                $(this).toggleClass("badge-neutral");
            });
        }
    }


    $('#chartSelection').change(function() {
        var element = $('#chartSelection');
        var selected = element.val();
        resetVisualisation();
        switch (selected) {
        case "Pie Chart":
            donut();
            break;
        case "Bar Chart":
            barchart();
            break;
        case "Scatter Plot":
            scatter();
            break;
        case "Line Graph":
            lineGraph();
            break;
        case "Choropleth Map":
            choropleth();
            break;
        case "Geographic Map":
            geographicmap();
            break;
        default:
        }
    });

    function resetVisualisation() {
        $('#visualisation').innerHTML = "";
        $("#visualisation").html("");
    }

    function geographicmap() {
        var mapProp = {
            center: new google.maps.LatLng(30.3, 69.3),
            zoom: 5,
            styles: [
                {
                    "featureType": "administrative",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                }
            ]
        };
        var map = new google.maps.Map(document.getElementById("visualisation"), mapProp);

        var image = {
            url: '@Url.Content("~/Assets/map/icon.png")',
            size: new google.maps.Size(15, 15)
        }

        var contentString = '<div id="content">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<h5 id="firstHeading" class="firstHeading">Toxin-medicated Diseases of S.Aureus S</h5><h6>Introduction of the infection</h6>'+
            '<div id="bodyContent">' +
            '<p><b>Prevalence: 125</b>,<br/>' +
            '<b>Mortality: 35</b>,<br/>' +
            '<b>Bateria: Staphylococcus Aureus (Anaerobic)</b>,<br/>' +
            '<b>Infection: Toxin-medicated diseases of S.Aureus include food poisoning' +
            'due to ingestion of enterotoxins, while toxic shock syndrome toxin 1 is responsible for toxic shock.,</b >,<br /></p>' +
            '<p><table style="width:100%"> <tr> <td>'+
                    'Timeline: June 2005 - September 2005<br /> </td> <td>'+
                    'Affected People: <Gender> and <Age><br /> </td> </tr> <tr> <td> Strain: -- <br />' +
            '    </td> <td> Taxonomy: --<br /> </td> </tr> <tr> <td> Morphology: --<br />  </td> <td> Virulence Factors: --<br />' +
            '    </td> </tr> <tr> <td> Interaction with Organisms: -- <br /> </td> <td> Antibiotics: -- <br /> </td> </tr>'+
            '<tr> <td> Treatments: -- <br /> </td>'+
            '</tr></table></p>' +
            '<p>Location: Military Hospital, Rawalpindi, Pakistan (<a href="#">Lat: 30.3, Long: 60.3</a>)</p>' +
            '<a href="#">See References</p>' +
            '</div>' +
            '</div>';

        var marker = new google.maps.Marker({
            position: { lat: 30.3, lng: 69.3 },
            map: map,
            icon: image
        });
        var infowindow = new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 400
        });
        var isOpen = false;
        var isClicked = false;

        google.maps.event.addListener(infowindow, 'closeclick', function () {
            isOpen = false;
            isClicked = false;
        });

        marker.addListener('mouseover', function () {
            if (!isClicked) {
                infowindow.open(map, marker);
                isOpen = true;
            }
        });
        marker.addListener('mouseout', function () {
            if (isOpen && !isClicked) {
                isOpen = false;
                infowindow.close();
            }
        });

        marker.addListener('click', function () {
            isOpen = false;
            isClicked = true;
            infowindow.open(map, marker);
        });
    }

    function choropleth() {
        var mapProp = {
            center: new google.maps.LatLng(30.3, 69.3),
            zoom: 5,
            styles: [
                {
                    "featureType": "administrative",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                }
            ]
        };
        var map = new google.maps.Map(document.getElementById("visualisation"), mapProp);
        var infowindow = new google.maps.InfoWindow();
        map.data.addListener('mouseover', function (event) {
            infowindow.setContent("<div style='width:150px; text-align: center;'>" + "Test" + "</div>");

            var coordOne = event.feature.getGeometry().getAt(0).getAt(0).getAt(0);
            var newLat = (coordOne.lat() + event.latLng.lat()) / 2;
            var newLng = (coordOne.lng() + event.latLng.lng()) / 2;
            var newCoord = new google.maps.LatLng(newLat, newLng);

            infowindow.setPosition(event.latLng);
            infowindow.setOptions({ pixelOffset: new google.maps.Size(0,0) });
            infowindow.open(map);
        });
        map.data.loadGeoJson('@Url.Content("~/Assets/map/pakistan.json")');
    }

    function lineGraph() {
        Morris.Line({
            element: 'visualisation',
            data: [
                { x: '2018-01', y: 100 },
                { x: '2018-02', y: 0 },
                { x: '2018-03', y: 0 },
                { x: '2018-04', y: 345 },
                { x: '2018-05', y: 0 },
                { x: '2018-06', y: 200 },
                { x: '2018-07', y: 50 },
                { x: '2018-08', y: 0 }
            ],
            xkey: 'x',
            ykeys: ['y'],
            smooth: false,
            hideHover: 'auto',
            axes: true,
            grid: true,
            labels: ['Prevalence']
        });
    }

    function donut() {
        Morris.Donut({
            element: 'visualisation',
            data: [
                { label: "Infection 1", value: 12 },
                { label: "Infection 2", value: 30 },
                { label: "Infection 4", value: 20 },
                { label: "Infection 5", value: 20 }
            ]
        });
    }

    function scatter() {
        var regions = ['Region1', 'Region2', 'Region3', 'Region4', 'Region5', 'Region6'];
        var trace1 = {
            x: regions,
            y: [1, 2, 3, 4, 5],
            mode: 'markers',
            type: 'scatter',
            name: 'Infection A',
            text: ['A-1', 'A-2', 'A-3', 'A-4', 'A-5'],
            marker: { size: 12 }
        };

        var trace2 = {
            x: regions,
            y: [1, 3, 4, 5, 6],
            mode: 'markers',
            type: 'scatter',
            name: 'Infection B',
            text: ['B-a', 'B-b', 'B-c', 'B-d', 'B-e'],
            marker: { size: 12 }
        };

        var data = [trace1, trace2];

        var layout = {
            xaxis: {
                range: [-1, 6]
            },
            yaxis: {
                range: [0, 8]
            },
            title: 'Prevalence at Different Regions'
        };

        Plotly.newPlot('visualisation', data, layout);
    }

    function barchart() {
        Morris.Bar({
            element: 'visualisation',
            data: [
                { y: 'Islamabad', a: 100},
                { y: 'Region 2', a: 75},
                { y: 'Region 3', a: 50},
                { y: 'Region 4', a: 75},
                { y: 'Region 5', a: 50},
                { y: 'Region 6', a: 75},
                { y: 'Region 7', a: 100 }
            ],
            xkey: 'y',
            ykeys: ['a'],
            hideHover: 'auto',
            labels: ['Prevalence']
        });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb6BqMVbPU5a6zxYg88S7AQcfoPbkhEaU"></script>